body {
    background: #F6F4FC;
}

.content {
    padding: 40px 25px; 
    margin-left: 250px;
    width: calc(100% - 250px);
}

.page-header {
    @import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');
    font-family: 'Quicksand', cursive;
}