.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 5;
    background: #FFFFFF;
    border-right: 1px solid #ececec;
    display: flex;
    flex-direction: column;
}

.sidebar .logo-wrapper {
    margin-top: 0em;
    padding: 15px 20px;
    height: 90px;
}

.sidebar .word {
    font-size: 2em;
}

.sidebar .nav-item {
    font-family: 'Quicksand', cursive;
    padding: 5px 15px;
}

.sidebar .nav-link {
    color:#9999AB;
    font-size: 12px;
}

.sidebar .nav-link.active {
    color:#14152D;
}